@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body{
	margin:0;
	padding:0;
	background:url(file:///E:/assigment/gymmembers/WebContent/css/images/backimg10.jpg)no-repeat;
	background-size:cover;

	
	display:flex;
	justify-content:center;
	align-item:center;
	min-height:100vh;
	font-family:'Poppins',sans-serif;
	
}
	

header{

font-family: 'Dokdo', cursive;
font-size: 30px;
padding: 20px;
}


.cotainer{
	display:flex;
	margin-top:150px;
	flex-wrap:wrap;
	justify-content:space-between;
	
}
.cotainer .box{
	position: relative;
	width:250px;
	padding:40px;
	backgrond:#fff;
	box-shadow:0 5px 15px rgba(0,0,0,.9);
	border-radius:4px;
	margin:20px;
	box-sizing:border-box;
	overflow:hidden;
	text-align:center;
}
.cotainer .box .icon{
	position: relative;
	width:70px;
	height:70px;
	color:white;
	background:black;
	display:flex;
	
	justify-content:center;
	align-item:center;
	margin: 0 auto;
	border-radius:50%;
	font-size:40px;
	font-weight:700;
	transition:1s;

}
.cotainer .box:nth-child(1) .icon{
	box-shadow:0 0 0 0 #ffff00;
	background:#e91e63;
}
.cotainer .box:nth-child(1):hover .icon{
	box-shadow:0 0 0 300px #00ffff;
	
}
.cotainer .box:nth-child(2) .icon{
	box-shadow:0 0 0 0 #00ff40;
	background:#e91e63;
}
.cotainer .box:nth-child(2):hover .icon{
	box-shadow:0 0 0 300px #ff8040;
	
}
.cotainer .box:nth-child(3) .icon{
	box-shadow:0 0 0 0 #0080ff;
	background:#e91e63;
}
.cotainer .box:nth-child(3):hover .icon{
	box-shadow:0 0 0 300px #004080;
	
}
.cotainer .box .content{
	position: relative;
	z-index:1;
	transition:0.5s;
	
	
}
.cotainer .box:hover .content{
	color:#ffffff;
}
.cotainer .box .content h3{
	font-size:20px;
	margin:10px 0;
	padding:0;
	
	
}
.cotainer .box .content p{
	margin:0;
	padding:0;	
}
a
{
	display:inline-block;
	padding:10px 20px;
	background:#ffffff;
	border-darius:4px;
	text-decoration:none;
	color:#000000;
	margin-top:20px;
	font-weight:500;
	box-shadow:0 2px 5px rgba(0,0,0,.2);
}














