@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding:0;
	margin:0;
}
.wrapper{ 
	background:url(file:///E:/assigment/gymmembers/WebContent/css/images/backimg7.jpg)no-repeat;
	background-size:cover;
	height:100vh;
	
}
.navbar{
	height:80px;
	width:100%;
	background:rgba(0, 0, 0, 0.4);;
}
.logo{
	width:220px;
	height:auto;
	padding:15px 100px;
}
.navbar ul{
	float:right;
	margin-right:150px;
}
.navbar ul li{
	list-style:none;
	margin:0 8px;
	display:inline-block;
	line-height:80px;
		
}
.navbar ul li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	pading:6px 13px;
	font-family:'Roboto',sans-serif;
	transitiom:.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background :red;
	border-radius:2px;
	
}
.wrapper .center{
	position :absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-family:sans-serif;
	user-select:none;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #932440;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #800040;
}

.container {
  border-radius: 5px;
  background-color: #f4eced;
  padding: 20px;
}
.mid-right {
	margin:0px;
	padding:0px 0px 0px 0px;
	width:580px;
	float:left;
	}
	.mid {
	margin:0px;
	padding:15px 0px 20px 0px;
	width:750px;
	overflow:hidden;
	}
	