@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding:0;
	margin:0;
}
.wrapper{ 
	background:url(file:///E:/assigment/gymmembers/WebContent/css/images/backimg7.jpg)no-repeat;
	background-size:cover;
	height:100vh;
	
}
.navbar{
	height:80px;
	width:100%;
	background:rgba(0, 0, 0, 0.4);;
}
.logo{
	width:220px;
	height:auto;
	padding:15px 100px;
}
.navbar ul{
	float:right;
	margin-right:150px;
}
.navbar ul li{
	list-style:none;
	margin:0 8px;
	display:inline-block;
	line-height:80px;
		
}
.navbar ul li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	pading:6px 13px;
	font-family:'Roboto',sans-serif;
	transitiom:.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background :red;
	border-radius:2px;
	
}
.wrapper .center{
	position :absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-family:sans-serif;
	user-select:none;
}
.regform{
	
	width:80px;
	background-color:rgb(0,0,0,0.6);
	margin:auto;
	color:#ffffff;
	padding:10px 0px 10px 0px;
	text-align:center;
	border-radius:15px 15px 0px 0px;
	
}
.login{  
        width: 385px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #808080;  
        border-radius: 15px ; 
        	text-align:center; 
          
}  
h2{  
    text-align: center;  
    color: #ff0000;  
    padding: 20px;  
}  
label{  
    color: #800000;  
    text-align:center;
    font-size: 25px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
input[type=submit] {
  background-color: #932440;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #800040;
}
.l1{
	text-alig:"center";
}
