@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding:0;
	margin:0;
}
.wrapper{ 
	background:url(file:///E:/assigment/gymmembers/WebContent/css/images/backimg7.jpg)no-repeat;
	background-size:cover;
	height:100vh;
	
}
.navbar{
	height:80px;
	width:100%;
	background:rgba(0, 0, 0, 0.4);;
}
.logo{
	width:220px;
	height:auto;
	padding:15px 100px;
}
.navbar ul{
	float:right;
	margin-right:150px;
}
.navbar ul li{
	list-style:none;
	margin:0 8px;
	display:inline-block;
	line-height:80px;
		
}
.navbar ul li a{
	text-decoration:none;
	color:white;
	font-size:20px;
	pading:6px 13px;
	font-family:'Roboto',sans-serif;
	transitiom:.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background :red;
	border-radius:2px;
	
}
.wrapper .center{
	position :absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-family:sans-serif;
	user-select:none;
}
table {
	margin-top:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}